@use '../abstracts/variables.scss' as var;
@use '../abstracts/mixins.scss' as mix;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	@include mix.flex-center;
	font-family: var.$font-family;
	background-color: var.$tertiary-color;
}