// Colors
$primary-color: #4165e8;
$secondary-color: #b8c7fe;
$tertiary-color: #bebebe;
$light-color: #ffffff;
$dark-color: #303030;
$bg-editor: #f4f4f4;

// typography
$font-xs: .75rem; 
$font-sm: 1rem; 
$font-md: 1.5rem; 
$font-heading-xl: 2rem; 
$font-heading-lg: 1.75rem; 
$font-heading-md: 1.65rem; 

$font-family: 'Inter', sans-serif;