// Colors
$primary-color: #7794fa;
$secondary-color: #b8c7fe;
$tertiary-color: #e4e4e4;
$light-color: #ffffff;
$dark-color: #303030;

// typography
$font-xs: .75rem; 
$font-sm: 1rem; 
$font-md: 1.5rem; 
$font-heading-xl: 2rem; 
$font-heading-lg: 1.75rem; 

$font-family: 'Inter', sans-serif;