@use '../abstracts/variables.scss' as var;

.ProseMirror { border: none; outline: none;}

.tiptap {
	position: relative;
	min-height: 500px;
	height: 800px;

	&-container {
		line-height: 1.5;
		padding: 1.15rem;
		background-color: var.$bg-editor;
		box-shadow: -12px 12px 12px grey;
		overflow-y: auto;
	}

	&-container h1, h2, h3 { text-align: left; font-size: var(--heading-lg); }
	
	&-container h1 { font-size: var.$font-heading-xl; }
	
	&-container h2 { font-size: var.$font-heading-lg; }
	
	&-container h3 { font-size: var.$font-heading-md; }
	
	&-container h4 { font-size: var.$font-heading-md; }
	
	&-container h1, h2, h3, h4, p {
		margin: 0 0 1rem 0;
		padding: .25rem;
		border: 2px solid #bbbbf7;
		transition: .2s solid ease-in-out;
	}

	&-container h1:hover, &-container h2:hover, &-container h3:hover, &-container h4:hover, p:hover {
		border: 2px solid rgb(212, 158, 58);
	}

	&-container p {
		min-height: fit-content;
		max-height: 200px;
		overflow-y: auto;
		overflow-wrap: break-word;
		word-break: break-word;
		white-space: normal;
	}

	&-container a {
		color: blue;
		text-decoration: underline;
		cursor: pointer;
	}

	&-container ul {
		list-style-type: disc;
		padding: 0 1.5rem 1rem;
	}

	&-container li p { margin: 0; }

	&-container strong {font-weight: 700;}

	&-container em {font-synthesis: initial;}
}

