@use '../abstracts/variables.scss' as var;

.form-tools {
	display: grid;
	grid-template-columns: repeat(auto-fit, 40px);
	width: 100%;
	height: fit-content;
	gap: 1.5rem;
}

.btn {
	--size: 40px;
	width: var(--size);
	height: var(--size);
	transition: 125ms transform ease;

	&:hover {
		transform: scale(110%, 110%);
	}
}