@use '../abstracts/variables.scss' as var;

.editor-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	width: 95%;
	height: 1200px;
	margin: 0 auto;
}

aside {
	& p {
		margin: 0;
		border: none;
	}

	& ul {
		list-style-type: disc;
		list-style-position: inside;
		margin: .5rem;
	}
}

.ProseMirror { border: none; outline: none;}

.tiptap {
	min-height: 500px;
	height: fit-content;

	&-container {
		line-height: 1.5;
		padding: 1.15rem;
		border: 2px solid var.$secondary-color;
		background-color: var(--light-grey);
		overflow-y: auto;
	}

	&-container h1, h2, h3 { text-align: left; font-size: var(--heading-lg); }
	
	&-container h1 { font-size: var.$font-heading-xl; }
	
	&-container h2 { font-size: var.$font-heading-lg; }
	
	&-container h3 { font-size: var.$font-heading-md; }
	
	&-container h4 { font-size: var.$font-heading-md; }
	
	&-container h1, h2, h3, h4, p {
		margin: 0 0 1rem 0;
		padding: .25rem;
		border: 1px solid #bbbbf7;
		transition: .2s solid ease-in-out;
	}

	&-container h1:hover, &-container h2:hover, &-container h3:hover, &-container h4:hover, p:hover {
		border: 1px solid rgb(212, 158, 58);
		cursor: pointer;
	}

	&-container ul {
		list-style-type: disc;
		padding: 0 1.5rem 1rem;
	}

	&-container li p { margin: 0; }

	&-container strong {font-weight: 700;}

	&-container em {font-synthesis: initial;}
}

/* BubbleMenu */
.bubble-menu-wrapper {
	display: flex;
	width: 350px;
	gap: 1.5rem;
	border-radius: .5rem;
	padding: .75rem;
	border: 2px solid var.$secondary-color;
	background-color: var.$tertiary-color;
}

.bubble-menu-btn {
	width: 60px;
	height: 30px;
	padding: .25rem;
	border: 2px solid #2b2a2a;
	color: white;
	transition: .2s ease-in-out;
}

.bubble-menu {
	&-btn:hover {
		border: 2px solid #333333;
		background-color: white;
		color: #333333;
	}
	
	&-picto {
		cursor: pointer;
		width: 30px;
		height: auto;
		transition: .2s transform ease-in-out;
	}

	&-picto:hover {
		transform: scale(115%, 115%);
	}
}

.form-tools {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	justify-items: center;
	gap: 1.25rem;
}

.btn {
	width: 100%;
	max-width: 120px;
	height: 40px;
	background-color: var(--tertiary-color);
	font-weight: 700;
	text-transform: uppercase;
}

@media screen and (min-width: 768px) {
	.editor-container{
		grid-area: editor;
		grid-template-areas: "aside editor btn";
		grid-template-columns: 200px 1fr auto;
		max-width: 1200px;
	}
	
	aside {grid-area: aside;}

	.form-tools {
		grid-area: btn;
	}
	
	.form-tools {
		height: fit-content;
	}
}